:root {
    --CornflowerBlue: #6495ED;
    --GhostWhite: #F8F8FF;
    --Silver: #C0C0C0;
    --Orange: #FFA500;
    --MistyRose: #FFE4E1;
    --Black: #000000;
}

body {
    background: var(--CornflowerBlue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: var(--GhostWhite);
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds, #tens{
    font-size: 2em;
}

button{
    background: var(--Silver);
    color: var(--Black);
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    border-radius: 5px;
}
     button:hover{
        transition: none;
        background: var(--MistyRose);
        border: solid 1px white;
        color: var(--CornflowerBlue);
    
}